<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

  <nav class="nav-container">
  <!-- Logo image -->
  <a href="{{ site.baseurl }}/" class="logo">
    <img src="{{ site.baseurl }}/assets/images/vishkalogo.png" alt="{{ site.title }}" height="100">
  </a>

  <nav class="nav">
    <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="{{ site.baseurl }}/services" class="{% if page.url contains 'services' %}active{% endif %}">Services</a>
    <a href="{{ site.baseurl }}/solutions" class="{% if page.url contains 'solutions' %}active{% endif %}">Solutions</a>
    <a href="{{ site.baseurl }}/about" class="{% if page.url contains 'about' %}active{% endif %}">About</a>
    <a href="{{ site.baseurl }}/contact" class="{% if page.url contains 'contact' %}active{% endif %}">Contact</a>
  </nav>

  <main class="content">
    {{ content }}
  </main>

  <footer class="site-footer">
    © 2025 Vishka Consulting Limited — All Rights Reserved.
  </footer>

</body>
</html>
